

.titulo-consultacar{
    display:block;
    padding: 35px 15px;
    h1{
        font-family: 'Russo One', sans-serif;
        text-align: center; 
        text-shadow: -10px 10px 10px #e6dfdf ; 
    }
    
    h2 {
        text-align: center;
    }
}





.alinear{
    text-align: center;
}

.acceso-rapido{
    margin-top: 25px;
    margin-bottom: 5%;
}

